In [1]:
import selenium

In [2]:
from selenium import webdriver

In [85]:
driver=webdriver.Chrome('chromedriver.exe')

C:\Users\User\AppData\Local\Temp\ipykernel_4396\101893016.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

##1. we have to scrape Data Analyst job role.

In [86]:
url='https://www.naukri.com/'
driver.get(url)

In [87]:
from selenium.webdriver.common.by import By


search_job=driver.find_elements(By.CLASS_NAME,"suggestor-input ")

In [88]:
print(search_job)

[<selenium.webdriver.remote.webelement.WebElement (session="ee9c5e734093bc70e4b7ab693503f374", element="0e79b9a3-bf1c-459d-8e33-f60d7da73e5c")>, <selenium.webdriver.remote.webelement.WebElement (session="ee9c5e734093bc70e4b7ab693503f374", element="11cd388e-e628-4bca-b7c2-e1f50e363b44")>]

In [89]:
from selenium.webdriver.common.keys import Keys

search_job[0].send_keys('Data Analyst')

In [90]:
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')

In [91]:
print(search_loc)

<selenium.webdriver.remote.webelement.WebElement (session="ee9c5e734093bc70e4b7ab693503f374", element="11cd388e-e628-4bca-b7c2-e1f50e363b44")>

In [92]:
search_loc.send_keys('BANGLORE')

In [93]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit').click()

In [94]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [95]:
len(title_tags)

20

In [96]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
print(job_titles)

['Sr.Business Data Analyst', 'Data Analyst - CRM Platform', 'Hiring Data Analyst - Forensics, KPMG India', 'Data Analyst/Senior Data Analyst', 'Senior Data Analyst II', 'Business Analyst / Data Analyst', 'Software Technical Expert - Data Analyst', 'Reference Data Analyst', 'Sales Data Analyst', 'Data Analyst', 'Lead Data Analyst', 'Data Analyst', 'Big data analyst', 'Data Analyst', 'Data Analyst', 'Senior Business Analyst, Data Analytics & Engineering-DATA Engineer', 'Senior Data Analyst', 'Data Analyst / Lead Analyst', 'Data Analyst - Marketplace', 'Hiring Data Analysts - Virtusa']

In [97]:
jobtitle=job_titles[0:10]

In [98]:
comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [99]:
len(comp_tags)

20

In [100]:
company=[]

for i in comp_tags:
    company.append(i.text)
print(company)

['Collabera', 'Artech infosystem', 'KPMG India', 'Meesho', 'Flipkart', 'cliqhr.com', 'Schneider Electric', 'Deutsche Bank', 'NUANCE INDIA PVT LTD', 'MOURI Tech', 'Uplers', 'Clarivate', 'Accolite Software India Pvt Ltd', 'BYJUS', 'Jio', 'Artech Infosystems Pvt. Ltd.', 'Walmart', 'LOGICAL HIRING', 'Gojek', 'Virtusa']

In [101]:
company_name=company[0:10]

In [103]:
loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [104]:
len(loc_tags)

20

In [105]:
location=[]

for i in loc_tags:
    location.append(i.text)
print(location)

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)', 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru', 'Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Bangalore Rural, Bangalore/Bengaluru(Varthur Road)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [107]:
Location=location[0:10]

In [108]:
import pandas as pd

In [110]:
pd.DataFrame({'JobTitle':jobtitle,'COMPANY':company_name,'LOCATION':Location})

,JobTitle,COMPANY,LOCATION
0,Sr.Business Data Analyst,Collabera,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,Data Analyst - CRM Platform,Artech infosystem,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
2,"Hiring Data Analyst - Forensics, KPMG India",KPMG India,"Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Bang..."
3,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru
4,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
5,Business Analyst / Data Analyst,cliqhr.com,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
6,Software Technical Expert - Data Analyst,Schneider Electric,Bangalore/Bengaluru
7,Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru
8,Sales Data Analyst,NUANCE INDIA PVT LTD,Bangalore/Bengaluru
9,Data Analyst,MOURI Tech,"Hyderabad/Secunderabad, Bangalore/Bengaluru"

In [111]:
##2.We have to scrape DATA SCIENTIST job role

In [112]:
url='https://www.naukri.com/'
driver.get(url)

In [113]:
search_job=driver.find_elements(By.CLASS_NAME,"suggestor-input ")

In [114]:
search_job[0].send_keys('Data Scientist')

In [115]:
print(search_job)

[<selenium.webdriver.remote.webelement.WebElement (session="ee9c5e734093bc70e4b7ab693503f374", element="f2d8f82b-6d0d-460a-8d11-ba9ab31af497")>, <selenium.webdriver.remote.webelement.WebElement (session="ee9c5e734093bc70e4b7ab693503f374", element="f9576118-4bf0-49f8-940e-e989cd4ef9fd")>]

In [116]:
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')

In [117]:
search_loc.send_keys('Bengalore')

In [118]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit').click()

In [119]:
job_title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [123]:
job=[]

for i in job_title:
    job.append(i.text)
print(job)

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes', 'Dataiku Consultant', 'Opportunity For Data Scientist - Female Candidates ONLY', 'Data Scientist', 'AWS Sagemaker', 'Data Scientist', 'Research and Development -AI/ML -(PhD )', 'Senior Data Science Engineer', 'Data Science - Engineering Manager', 'Data Scientist', 'Data Scientist- Assistant Manager/Manager', 'Data Scientist, Personalization', 'Data Scientist: Artificial Intelligence', 'Data Scientist - IN3', 'Senior Data Scientist, Personalization', 'Data Scientist', 'DigitalBCG GAMMA Data Scientist', 'Artificial Intelligence, Virtual Reality Developer - L1', 'Data Engineer - ML Ops', 'Data Scientist']

In [124]:
JOBS=job[0:10]

In [125]:
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [126]:
c=[]

for i in comp:
    c.append(i.text)
print(c)

['Wipro', 'Wipro', 'PayU', 'IBM', 'Wipro', 'Wipro', 'EXL', 'Fractal Analytics', 'Paytm', 'UPL', 'Genpact', 'Walmart', 'IBM', 'Walmart', 'Walmart', 'Schneider Electric', 'Boston Consulting Group', 'ATG Business Solutions', 'VISA', 'Applied Materials']

In [127]:
Company=c[0:10]

In [138]:
loc_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [140]:
l=[]
for i in loc_tag:
    l.append(i.text)
print(l)

['Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad', 'Pune, Chennai, Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru\n(WFH during Covid)', 'Bangalore/Bengaluru\n(WFH during Covid)', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR', 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)', 'Noida, Mumbai, Bangalore/Bengaluru', 'Bangalore/Bengaluru, Mumbai (All Areas)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'New Delhi, Bangalore/Bengaluru', 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [141]:
Location=l[0:10]

In [142]:
pd.DataFrame({'Jobs':JOBS,'Company':Company,'Location':Location})

,Jobs,Company,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ..."
1,Dataiku Consultant,Wipro,"Pune, Chennai, Bangalore/Bengaluru"
2,Opportunity For Data Scientist - Female Candid...,PayU,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
3,Data Scientist,IBM,Bangalore/Bengaluru
4,AWS Sagemaker,Wipro,Bangalore/Bengaluru\n(WFH during Covid)
5,Data Scientist,Wipro,Bangalore/Bengaluru\n(WFH during Covid)
6,Research and Development -AI/ML -(PhD ),EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
7,Senior Data Science Engineer,Fractal Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
8,Data Science - Engineering Manager,Paytm,"Noida, Mumbai, Bangalore/Bengaluru"
9,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd

In [6]:
##3. Scrape datascientist job in DELHI/NCR

In [7]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

C:\Users\User\AppData\Local\Temp\ipykernel_10712\3058491702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [8]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [9]:
search_job.send_keys('Data-Scientist')

In [12]:
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input').send_keys('Delhi/NCR')

In [15]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [16]:
search.click()

In [30]:
search_salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')

In [31]:
search_salary.click()

In [32]:
job_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [37]:
job_title=[]
for i in job_tags:
    job_title.append(i.text)

Jobs=job_title[0:10]
print(Jobs)

['DigitalBCG GAMMA Data Scientist', 'Data Scientist - IN3', 'Senior Data Scientist', 'Artificial Intelligence, Virtual Reality Developer - L1', 'Data Scientist', 'Senior Associate - Data Science', 'Data Scientist - Noida/Bangalore', 'Data Scientist', 'Data Scientist', 'DATA Scientist with Fraud Analytics Experience']

In [42]:
loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [43]:
location=[]
for i in loc_tags:
    location.append(i.text)

Location=location[0:10]
print(Location)

['New Delhi, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Mumbai, Mumbai (All Areas)', 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru', 'Noida, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [44]:
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [45]:
experience=[]
for i in exp_tags:
    experience.append(i.text)

Exp=experience[0:10]
print(Exp)

['2-5 Yrs', '2-5 Yrs', '4-6 Yrs', '1-5 Yrs', '2-7 Yrs', '4-7 Yrs', '5-10 Yrs', '2-4 Yrs', '4-7 Yrs', '2-4 Yrs']

In [56]:
pd.DataFrame({'Jobs':Jobs,'Location':Location,'Exp':Exp})

,Jobs,Location,Exp
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
1,Data Scientist - IN3,Bangalore/Bengaluru,2-5 Yrs
2,Senior Data Scientist,"Mumbai, Mumbai (All Areas)",4-6 Yrs
3,"Artificial Intelligence, Virtual Reality Devel...","Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",1-5 Yrs
4,Data Scientist,Bangalore/Bengaluru,2-7 Yrs
5,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs
6,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",5-10 Yrs
7,Data Scientist,Bangalore/Bengaluru,2-4 Yrs
8,Data Scientist,Bangalore/Bengaluru,4-7 Yrs
9,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,2-4 Yrs

In [47]:
## 4. Scrape data of first 100 sunglasses listings on flipkart.com

In [15]:
driver=webdriver.Chrome('chromedriver.exe')

url='https://www.flipkart.com/'
driver.get(url)

C:\Users\User\AppData\Local\Temp\ipykernel_18960\657009004.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [16]:
search=driver.find_element(By.CLASS_NAME,'_3704LK')

In [17]:
search.send_keys('Sunglasses')

In [18]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')

In [19]:
search_btn.click()

In [49]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [50]:
len(brand_tag)

40

In [51]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [44]:
nxt_btn[0].click()

In [52]:
Brand=[]
for j in brand_tag:
    Brand.append(j.text)

In [53]:
len(Brand)

40

In [54]:
nxt_btn[0].click()

In [55]:
brand_tag2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [57]:
for j in brand_tag2:
    Brand.append(j.text)

In [58]:
len(Brand)

80

In [59]:
nxt_btn[0].click()

In [60]:
brand_tag3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [61]:
for j in brand_tag3:
    Brand.append(j.text)

In [62]:
len(Brand)

120

In [63]:
brand=Brand[0:100]

In [64]:
print(Brand)

['VINCENT CHASE', 'ROYAL SON', 'DAHAAZIL', 'Fastrack', 'New Specs', 'Elligator', 'SRPM', 'AISLIN', 'PIRASO', 'SUNBEE', 'SHAAH COLLECTIONS', 'AISLIN', 'SUNBEE', 'Fastrack', 'PIRASO', 'ROYAL SON', 'Fastrack', 'PIRASO', 'Lee Topper', 'ROYAL SON', 'PIRASO', 'Lee Topper', 'PIRASO', 'ROYAL SON', 'PIRASO', 'PIRASO', 'Fastrack', 'ROYAL SON', 'New Specs', 'Mi', 'Sewell', 'Silver Kartz', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'SHAAH COLLECTIONS', 'ROYAL SON', 'SRPM', 'SUNBEE', 'LIZA ANGEL', 'ROYAL SON', 'ROZZETTA CRAFT', 'Fastrack', 'Fastrack', 'GANSTA', 'AISLIN', 'Lee Topper', 'LIZA ANGEL', 'ROYAL SON', 'CRYSTAL CART', 'NuVew', 'PIRASO', 'NuVew', 'Fastrack', 'ROZZETTA CRAFT', 'Elligator', 'Singco India', 'SRPM', 'DEIXELS', 'PHENOMENAL', 'ROZZETTA CRAFT', 'ROYAL SON', 'Silver Kartz', 'PIRASO', 'ROYAL SON', 'ROYAL SON', 'ROYAL SON', 'kingsunglasses', 'ROYAL SON', 'kingsunglasses', 'VINCENT CHASE', 'Fastrack', 'GANSTA', 'CRYSTAL CART', 'kingsunglasses', 'Lee Topper', 'ROZZETTA CRAFT', 'Fastrack', 'New Specs', 'Singco India', 'ROYAL SON', 'VINCENT CHASE', 'kingsunglasses', 'kingsunglasses', 'Singco India', 'ROYAL SON', 'Singco India', 'SRPM', 'Silver Kartz', 'VINCENT CHASE', 'Fastrack', 'Fastrack', 'ROZZETTA CRAFT', 'kingsunglasses', 'Rich Club', 'Rich Club', 'ROYAL SON', 'ROZZETTA CRAFT', 'ROYAL SON', 'ROYAL SON', 'Silver Kartz', 'ROYAL SON', 'ROZZETTA CRAFT', 'kingsunglasses', 'DEIXELS', 'kingsunglasses', 'Lee Topper', 'Fastrack', 'ROZZETTA CRAFT', 'New Specs', 'GANSTA', 'Fastrack', 'john jacobs', 'Elligator', 'ROYAL SON', 'SHAAH COLLECTIONS', 'ROYAL SON', 'ROYAL SON', 'New Specs', 'kingsunglasses', 'ROZZETTA CRAFT']

In [77]:
price=[]
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for k in price_tag:
    price.append(k.text)

In [78]:
len(price)

40

In [84]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [86]:
nxt_btn[0].click()

In [87]:
price_tag2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for k in price_tag2:
    price.append(k.text)

In [88]:
len(price)

80

In [89]:
nxt_btn[0].click()

In [90]:
price_tag3=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for k in price_tag3:
    price.append(k.text)

In [91]:
len(price)

120

In [92]:
Price=price[0:100]

In [94]:
print(Price)

['₹749', '₹3,000', '₹177', '₹639', '₹264', '₹315', '₹283', '₹616', '₹224', '₹224', '₹799', '₹233', '₹259', '₹195', '₹639', '₹649', '₹224', '₹359', '₹229', '₹379', '₹306', '₹299', '₹226', '₹854', '₹246', '₹410', '₹279', '₹379', '₹839', '₹265', '₹349', '₹759', '₹299', '₹719', '₹499', '₹759', '₹219', '₹283', '₹199', '₹649', '₹319', '₹759', '₹219', '₹313', '₹498', '₹759', '₹246', '₹399', '₹719', '₹345', '₹199', '₹664', '₹189', '₹399', '₹379', '₹399', '₹249', '₹224', '₹219', '₹759', '₹341', '₹379', '₹214', '₹314', '₹749', '₹189', '₹379', '₹385', '₹288', '₹223', '₹1,039', '₹232', '₹529', '₹245', '₹899', '₹449', '₹269', '₹749', '₹268', '₹664', '₹217', '₹699', '₹664', '₹598', '₹269', '₹189', '₹599', '₹313', '₹276', '₹379', '₹314', '₹399', '₹324', '₹664', '₹664', '₹399', '₹214', '₹719', '₹299', '₹664']

In [95]:
description=[]
des_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for k in des_tag:
    description.append(k.text)

In [96]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [97]:
nxt_btn[0].click()

In [98]:
des_tag2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for k in des_tag2:
    description.append(k.text)

In [99]:
len(description)

80

In [100]:
nxt_btn[0].click()

In [101]:
des_tag3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for k in des_tag3:
    description.append(k.text)

In [102]:
len(description)

120

In [103]:
Description=description[0:100]

In [104]:
print(Description)

['UV Protection Rectangular Sunglasses (52)', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection, Polarized, Mirrored Retro Square Sunglas...', 'Polarized, UV Protection Retro Square Sunglasses (61)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Aviator Sunglasses (Free Size)', 'Polarized, UV Protection Wrap-around Sunglasses (62)', 'UV Protection Cat-eye Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'Riding Glasses Wrap-around Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Aviator Sunglasses (54)', 'Polarized Aviator Sunglasses (Free Size)', 'UV Protection, Gradient Butterfly Sunglasses (52)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'UV Protection Oval Sunglasses (56)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, UV Protection Sports Sunglasses (68)', 'UV Protection, Gradient Butterfly, Retro Square Sunglas...', 'UV Protection Aviator Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient Aviator Sunglasses (55)', 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...', 'Mirrored, Night Vision Oval Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection, Polarized Round Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection Round Sunglasses (53)', 'Mirrored Aviator Sunglasses (Free Size)', 'UV Protection Clubmaster Sunglasses (53)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'Mirrored Aviator Sunglasses (58)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Polarized Round Sunglasses (54)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Aviator Sunglasses (58)', 'Polarized, UV Protection, Mirrored, Gradient Rectangula...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Rectangular Sungla...', 'UV Protection Spectacle Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'Polarized, UV Protection Aviator Sunglasses (57)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...', 'Night Vision, UV Protection Round Sunglasses (54)', 'Riding Glasses, UV Protection, Others Aviator Sunglasse...', 'Polarized, UV Protection Round Sunglasses (51)', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection, Riding Glasses Rectangular Sunglasses (F...', 'UV Protection, Others Round Sunglasses (48)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection, Others Round Sunglasses (48)', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'UV Protection Wayfarer Sunglasses (55)', 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection Cat-eye Sunglasses (60)', 'UV Protection, Gradient Wayfarer Sunglasses (55)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Night Vision, Riding Glasses Retro Square Sunglasses (5...', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection, Gradient Butterfly Sunglasses (52)', 'UV Protection, Riding Glasses Rectangular, Retro Square...', 'by Lenskart Polarized, UV Protection Rectangular Sungla...']

In [42]:
## 5. Scrape the review of Iphone-11
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd

In [77]:
driver=webdriver.Chrome('chromedriver.exe')

url='https://www.flipkart.com/'
driver.get(url)

C:\Users\User\AppData\Local\Temp\ipykernel_16188\657009004.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [78]:
search=driver.find_element(By.CLASS_NAME,'_3704LK')

In [79]:
search.send_keys('iphone-11')

In [80]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')

In [81]:
search_btn.click()

In [83]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[5]/div/div/div/a/div[2]/div[1]/div[1]')

In [84]:
search_btn.click()

In [120]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone-11&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=e0ce6a02-146e-4bcc-b279-061c7996c2ce.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=gqcad4xgao0000001657646781042&qH=6e21fe77d202f0da'

In [121]:
driver.get(url)

In [122]:
rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [123]:
ratings=[]
for i in rat_tag:
    ratings.append(i.text)

In [124]:
len(ratings)

10

In [125]:
print(ratings)

['5', '5', '5', '', '', '', '', '', '', '']

In [128]:
rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

In [131]:
review=[]
for i in rev_tag:
    review.append(i.text)

In [132]:
len(review)

10

In [133]:
print(review)

['Simply awesome', 'Perfect product!', 'Best in the market!', '', '', '', '', '', '', '']

In [134]:
full_rev=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/div[4]/div[1]/div/div/div[2]/div/div/div')

In [135]:
Review=[]
for i in full_rev:
    Review.append(i.text)

In [137]:
print(Review)

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.']

In [138]:
###6.Scrape 100 snekars from FLIPKART.COM

In [139]:
driver=webdriver.Chrome('chromedriver.exe')

url='https://www.flipkart.com/'
driver.get(url)

C:\Users\User\AppData\Local\Temp\ipykernel_16188\657009004.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [159]:
search=driver.find_element(By.CLASS_NAME,'_3704LK')

In [160]:
search.send_keys('Sneakers')

In [161]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')

In [162]:
search_btn.click()

In [144]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [145]:
brand=[]
for i in brand_tag:
    brand.append(i.text)

In [146]:
len(brand)

40

In [147]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [149]:
nxt_btn[0].click()

In [150]:
brand_tag2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [151]:
for i in brand_tag2:
    brand.append(i.text)

In [152]:
len(brand)

80

In [153]:
brand_tag3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [154]:
for i in brand_tag2:
    brand.append(i.text)

In [155]:
len(brand)

120

In [157]:
Brand=brand[0:100]

In [158]:
print(Brand)

['Wildcraft', 'Rising Wolf', 'WOODLAND', 'BRUTON', 'BRUTON', 'Magnolia', 'URBANBOX', 'corsac', 'Labbin', 'BIRDE', 'aadi', 'Roadster', 'BIRDE', 'ONECENTRE', 'PUMA', 'kardam&sons', 'Chevit', 'SFR', 'HOTSTYLE', 'MAFLO', 'corsac', 'ASTEROID', 'KWIK FIT', 'HOTSTYLE', 'BIRDE', 'BRUTON', 'SCATCHITE', 'AERAMBOL', 'CLYMB', 'Kraasa', 'Kraasa', 'Bacan', 'Kraasa', 'Robbie jones', 'BIRDE', 'luxury fashion', 'Kzaara', 'PUMA', 'PUMA', 'Arivo', 'D-SNEAKERZ', 'BRUTON', 'aadi', 'Wildcraft', 'Noztile', 'BRUTON', 'KNIGHT WALKERS', 'corsac', 'Dizzler', 'Rzisbo', 'DUKE', 'corsac', 'SPARX', 'ASTEROID', 'Magnolia', 'corsac', 'WHITE WALKERS', 'aadi', 'AMICO', 'Roadster', 'Airland', 'Eiffel', 'Shoes Bank', 'MAFLO', 'Airland', 'Aragats', 'Chevit', 'HOTSTYLE', 'Numenzo', 'Layasa', 'LE GREEM', 'kardam&sons', 'luxury fashion', 'India hub', 'Stinson', 'Bacan', 'Numenzo', 'aadi', 'BIRDE', 'AERAMBOL', 'D-SNEAKERZ', 'BRUTON', 'aadi', 'Wildcraft', 'Noztile', 'BRUTON', 'KNIGHT WALKERS', 'corsac', 'Dizzler', 'Rzisbo', 'DUKE', 'corsac', 'SPARX', 'ASTEROID', 'Magnolia', 'corsac', 'WHITE WALKERS', 'aadi', 'AMICO', 'Roadster']

In [163]:
des_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [164]:
des=[]
for i in des_tag:
    des.append(i.text)

In [165]:
len(des)

32

In [167]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [168]:
nxt_btn[0].click()

In [169]:
des_tag2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [170]:
for i in des_tag2:
    des.append(i.text)

In [171]:
len(des)

63

In [172]:
nxt_btn[0].click()

In [174]:
des_tag3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [175]:
for i in des_tag3:
    des.append(i.text)

In [176]:
print(des)

['True Black Shoe Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Sneakers For Men', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'STR2 Sneakers For Men', 'Puma Smash v2 L Sneakers For Men', 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...', 'Sneakers For Men', 'Sneakers For Men', 'STYLISH MENS BLACK SNEAKER Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', 'Stylish Comfortable Lightweight, Breathable Casual Walk...', 'Sneaker Sneakers For Men', 'Sneakers Sneakers For Men', 'Sneakers For Men', 'Shark-41 Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Sports Running Shoes Sneakers For Men', 'Luxury Fashionable casual shoes Sneakers For Men', 'Sneakers For Men', 'Smash v2 L White- Black Sneakers For Men', 'ST Activate V2 Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Lattest Sneakers Shoe Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'SS1100 Sneakers For Men', 'STYLISH MENS BLACK SNEAKER Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Men White Sneakers Sneakers For Men', 'Original Luxury Branded Black Fancy Casual Walking Part...', 'Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Mesh | Ultralightweight | Comfortable | Breathable Walk...', 'Sneakers For Men', '1259 smart black lace-ups sneakers for men Sneakers For...', "White Sneaker For Men's/Boy's Sneakers For Men", 'Sneakers For Men', 'sneaker men red 1258 - 8 Sneakers For Men', 'Casual Sneakers For Men', "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...", 'Sneakers For Men', 'Sneakers For Men', 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', '411 Casual Sneakers For Men', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Fashionable Canvas Casual Partywear Outdoor Sneakers Bl...', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Combo Pack of 3 Casual Shoes Sneakers For Men', 'True Black Shoe Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Casual Sneakers White Shoes For Men Sneakers For Men', "Men's Casual sneaker shoes running shoes walking shoes ...", 'Trinity Sneakers For Men', 'Brave Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'casual sneaker shoes for men luxury fashion casual snea...', 'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...', 'Sneakers For Men', 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', "White casual, gym,training & Running sneakers for men's...", 'Exclusive Sneaker Shoes Sneakers For Men', 'Synthetic Leather Sneakers For Men', 'Combo Pack of 3 Casual Shoes, Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Ferrari Electron E Pro Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'R78 Sneakers For Men', 'Blend Sneakers For Men', 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'CLARKIN Sneakers For Men', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', 'casual for men Sneakers For Men']

In [177]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [178]:
price=[]
for i in price_tag:
    price.append(i.text)

In [179]:
len(price)

40

In [180]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [182]:
nxt_btn[0].click()

In [183]:
price_tag2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [185]:
for i in price_tag2:
    price.append(i.text)

In [186]:
len(price)

80

In [187]:
nxt_btn[0].click()

In [188]:
price_tag3=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [189]:
for i in price_tag3:
    price.append(i.text)

In [190]:
len(price)

120

In [191]:
Price=price[0:100]

In [192]:
print(price)

['₹549', '₹399', '₹2,096', '₹269', '₹299', '₹449', '₹198', '₹428', '₹499', '₹378', '₹319', '₹249', '₹335', '₹299', '₹1,763', '₹749', '₹649', '₹289', '₹258', '₹3,999', '₹499', '₹474', '₹397', '₹1,499', '₹269', '₹399', '₹335', '₹1,455', '₹579', '₹479', '₹479', '₹749', '₹479', '₹499', '₹254', '₹426', '₹249', '₹2,029', '₹1,749', '₹2,399', '₹299', '₹269', '₹299', '₹1,119', '₹199', '₹399', '₹699', '₹1,949', '₹449', '₹464', '₹1,318', '₹2,079', '₹449', '₹474', '₹730', '₹229', '₹599', '₹799', '₹494', '₹1,255', '₹239', '₹469', '₹298', '₹2,399', '₹246', '₹549', '₹466', '₹2,759', '₹399', '₹539', '₹499', '₹2,599', '₹399', '₹397', '₹229', '₹499', '₹450', '₹399', '₹1,899', '₹195', '₹284', '₹419', '₹670', '₹629', '₹599', '₹499', '₹699', '₹699', '₹2,029', '₹1,715', '₹599', '₹699', '₹179', '₹699', '₹1,135', '₹699', '₹499', '₹299', '₹398', '₹399', '₹561', '₹426', '₹319', '₹598', '₹399', '₹566', '₹424', '₹385', '₹499', '₹2,339', '₹1,799', '₹428', '₹630', '₹499', '₹299', '₹598', '₹1,949', '₹424', '₹449', '₹249']

In [193]:
discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [194]:
discount=[]
for i in discount_tag:
    discount.append(i.text)

In [195]:
len(discount)

40

In [196]:
nxt_btn=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [197]:
nxt_btn[0].click()

In [198]:
discount_tag2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [199]:
for i in discount_tag2:
    discount.append(i.text)

In [200]:
len(discount)

80

In [201]:
nxt_btn[0].click()

In [202]:
discount_tag3=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [203]:
for i in discount_tag3:
    discount.append(i.text)

In [204]:
len(discount)

120

In [205]:
Discount=discount[0:100]

In [206]:
print(Discount)

['53% off', '67% off', '30% off', '79% off', '76% off', '55% off', '80% off', '61% off', '50% off', '62% off', '68% off', '40% off', '66% off', '50% off', '49% off', '70% off', '65% off', '71% off', '74% off', '60% off', '66% off', '76% off', '80% off', '54% off', '79% off', '60% off', '66% off', '62% off', '61% off', '52% off', '52% off', '67% off', '52% off', '50% off', '74% off', '62% off', '75% off', '42% off', '50% off', '45% off', '54% off', '79% off', '70% off', '49% off', '66% off', '80% off', '65% off', '64% off', '37% off', '53% off', '60% off', '49% off', '55% off', '52% off', '14% off', '60% off', '50% off', '60% off', '50% off', '36% off', '52% off', '53% off', '70% off', '35% off', '50% off', '45% off', '57% off', '65% off', '60% off', '82% off', '50% off', '35% off', '69% off', '80% off', '54% off', '44% off', '77% off', '80% off', '36% off', '57% off', '58% off', '71% off', '55% off', '36% off', '50% off', '50% off', '65% off', '36% off', '48% off', '42% off', '64% off', '40% off', '50% off', '30% off', '50% off', '40% off', '65% off', '60% off', '60% off', '37% off']

In [207]:
## 8. Scrape the Laptops from Amazon.com

In [4]:
driver=webdriver.Chrome('chromedriver.exe')

url='https://www.amazon.in/'

C:\Users\User\AppData\Local\Temp\ipykernel_13016\4152794776.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [5]:

driver.get(url)

In [14]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [15]:
search_btn.send_keys('Laptop')

In [16]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')

In [17]:
search.click()

In [18]:
i7_search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[12]/span/a/div/label/i')

In [19]:
i7_search.click()

In [20]:
title_tag=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')

In [24]:
len(title_tag)

24

In [25]:
title=[]
for i in title_tag:
    title.append(i.text)

In [27]:
Title=title[0:10]

In [28]:
print(Title)

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS', 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver', 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH', 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu', 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN', 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P', 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS', 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU', 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10 Professional/Mineral Grey/1.26 Kg), 20V9A032IH', 'HP Pavilion 11th Gen Intel Core i7 15.6 inches FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/4GB NVIDIA GeForce GTX 1650 Graphics/Windows 10 Home/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx']

In [90]:
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

In [91]:
len(price_tag)

26

In [92]:
price=[]
for i in price_tag:
    price.append(i.text)

In [93]:
Price=price[0:10]

In [94]:
print(Price)

['89,990', '76,492', '87,900', '86,990', '82,990', '79,990', '85,499', '57,890', '86,990', '89,990']

In [99]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')

In [100]:
len(rating_tag)

19

In [101]:
rating=[]
for i in rating_tag:
    rating.append(i.text)

In [102]:
print(rating)

['26', '5', '49', '14', '16', '143', '161', '9', '24', '38', '17', '60', '9', '24', '85', '5', '9', '5', '1']

In [103]:
Rating=rating[0:10]

In [104]:
print(Rating)

['26', '5', '49', '14', '16', '143', '161', '9', '24', '38']

In [105]:
pd.DataFrame({'Title':Title,'Price':Price,'Rating':Rating})

                                               Title   Price Rating
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990     26
1  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...  76,492      5
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  87,900     49
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  86,990     14
4  Samsung Galaxy Book2 Intel 12th Gen core i7 39...  82,990     16
5  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  79,990    143
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  85,499    161
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  57,890      9
8  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  86,990     24
9  HP Pavilion 11th Gen Intel Core i7 15.6 inches...  89,990     38

In [116]:
##9. Scrape data from datascientist job from ambitionbox.com

In [161]:
driver=webdriver.Chrome('chromedriver.exe')



url='https://www.ambitionbox.com/'

C:\Users\User\AppData\Local\Temp\ipykernel_13016\2098743519.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [162]:
driver.get(url)

In [164]:
search_job=driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[6]')

search_job.click()

In [165]:
jobs=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')

In [166]:
jobs.send_keys('DATA SCIENTIST')

In [167]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')

In [168]:
search.click()

In [169]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')

In [170]:
location.send_keys('Noida')

In [171]:
noi=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]')

In [172]:
noi.click()

In [173]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')

In [174]:
len(title_tag)

10

In [175]:
title=[]
for i in title_tag:
    title.append(i.text)

In [176]:
print(title)

['Senior Data Scientist', 'Data Scientist- Forecasting and R or Python', 'Data Scientist - Machine Learning Algorithms (3-8 yrs)', 'Data Scientist - Machine Learning/Big Data (0-4 yrs)', 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)', 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)', 'LatentBridge - Data Scientist - Python/R (2-6 yrs)', 'Data Science Trainer | AI | Machine Learning | Python |', 'Principal Scientist - Machine Learning - IT (15-26 yrs)', 'Data Scientist - NLP']

In [177]:
com_tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')

In [178]:
len(com_tag)

10

In [179]:
company=[]
for i in com_tag:
    company.append(i.text)

In [180]:
print(company)

['Optum Global Solutions (India) Private Limited', 'GENPACT India Private Limited', 'Dew Solutions Pvt. Ltd.', 'InfoEdge India Ltd.', 'Info Edge India Limited', 'Info Edge India Limited', 'Latent bridge', 'Careerera', 'Careernet Consulting', 'Acidaes Solutions Pvt. Ltd.']

In [187]:
loc_tag=driver.find_elements(By.XPATH,'//div[@class="entity loc"]')

In [190]:
Location=[]
for i in loc_tag:
    Location.append(i.text.strip())

In [191]:
print(Location)

['Noida', 'Noida', 'Noida', 'Gurgaon/Gurugram, Bengaluru/Bangalore, Pune +2 more', 'Noida', 'Noida', 'Noida', 'Gurgaon/Gurugram, Delhi NCR, Noida', 'Noida', 'Noida', 'Noida']

In [192]:
len(Location)

11

In [193]:
location=Location[0:10]

In [194]:
pd.DataFrame({'title':title,'company':company,'loction':location})

,title,company,loction
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,Noida
1,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,Noida
2,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,Noida
3,Data Scientist - Machine Learning/Big Data (0-...,InfoEdge India Ltd.,"Gurgaon/Gurugram, Bengaluru/Bangalore, Pune +2..."
4,Info Edge - Data Scientist - Machine Learning/...,Info Edge India Limited,Noida
5,Info Edge - Senior Data Scientist - Machine Le...,Info Edge India Limited,Noida
6,LatentBridge - Data Scientist - Python/R (2-6 ...,Latent bridge,Noida
7,Data Science Trainer | AI | Machine Learning |...,Careerera,"Gurgaon/Gurugram, Delhi NCR, Noida"
8,Principal Scientist - Machine Learning - IT (1...,Careernet Consulting,Noida
9,Data Scientist - NLP,Acidaes Solutions Pvt. Ltd.,Noida

In [195]:
## 10.Scrape the salary from ambitionbox.com

In [196]:
driver=webdriver.Chrome('chromedriver.exe')



url='https://www.ambitionbox.com/'

C:\Users\User\AppData\Local\Temp\ipykernel_13016\2098743519.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [197]:
driver.get(url)

In [198]:
sal_tag=driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[4]')

In [199]:
sal_tag.click()

In [200]:
search_tag=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')

In [202]:
search_tag.send_keys('Data Scientist')

In [203]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/button/span')

In [204]:
search.click()

In [205]:
comp_tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')

In [206]:
len(comp_tag)

25

In [209]:
companay=[]
for i in comp_tag:
    company.append(i.text)

In [218]:
Company=company[23:]

In [226]:
COMPANY=Company[0:10]

In [227]:
COMPANY

['Walmart\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'Ab Inbev\nData Scientist Salary\n3-4 yrs experience (based on 33 salaries)',
 'ZS\nData Scientist Salary\n2 yrs experience (based on 15 salaries)',
 'Optum\nData Scientist Salary\n3-4 yrs experience (based on 32 salaries)',
 'Reliance Jio\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 89 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 51 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 57 salaries)',
 'EXL Service\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Deloitte\nData Scientist Salary\n2-4 yrs experience (based on 69 salaries)']

In [234]:
comp=[]
for i in COMPANY:
    k=i.split()[0]
    print(k)
    comp.append(k)

Walmart
Ab
ZS
Optum
Reliance
Fractal
Tiger
UnitedHealth
EXL
Deloitte

In [245]:
Experience=[]
for i in COMPANY:
    r=i.split()[-7]
    Experience.append(r)

In [246]:
Experience

['3', '3-4', '2', '3-4', '3-4', '2-4', '2-4', '2-4', '3-4', '2-4']

In [255]:
avg_sal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')

In [256]:
Salary=[]
for i in avg_sal:
    Salary.append(i.text)

In [291]:
min_sal=Salary[0::2]
min_sal

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [266]:
average_sal=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')

In [269]:
Average=[]
for i in average_sal:
    Average.append(i.text)

In [270]:
Average

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [274]:
max_sal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')

In [275]:
Max=[]
for i in max_sal:
    Max.append(i.text)

In [287]:
max_salary=Max[1::2]

In [288]:
max_salary

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [292]:
pd.DataFrame({'Company':comp,'Experience':Experience,'Min_salary':min_sal,'Average':Average,'Max_salary':max_salary})

        Company Experience Min_salary  Average Max_salary
0       Walmart          3    ₹ 25.0L  ₹ 30.6L    ₹ 36.0L
1            Ab        3-4    ₹ 15.0L  ₹ 20.8L    ₹ 26.2L
2            ZS          2    ₹ 11.0L  ₹ 16.7L    ₹ 22.0L
3         Optum        3-4    ₹ 11.0L  ₹ 15.9L    ₹ 22.5L
4      Reliance        3-4     ₹ 5.6L  ₹ 15.7L    ₹ 26.2L
5       Fractal        2-4    ₹ 10.0L  ₹ 15.5L    ₹ 23.0L
6         Tiger        2-4     ₹ 9.0L  ₹ 14.8L    ₹ 20.0L
7  UnitedHealth        2-4     ₹ 8.3L  ₹ 14.0L    ₹ 21.1L
8           EXL        3-4     ₹ 7.6L  ₹ 13.2L    ₹ 21.0L
9      Deloitte        2-4     ₹ 7.0L  ₹ 12.8L    ₹ 25.0L